*{
    margin: 0;
    padding: 0;
}
/* navbar */
nav{
    background-color: #1a1a1d;
    height: 15vh;
    padding: 15px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.logo-about{
    padding: 15px;
    width: 12vw;
    height: 12vh;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 15px;
    gap: 25px;
}



/* main packages */


.packages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(59, 108, 172);
    height:35vh;
    color: white;
    font-size: x-large;
}


/* Eclosion */
.eclosion-parent{
    padding: 2rem;
}

/* Eclosion & Evolution & Envol buttons */
.center-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 10vh;
}

.center-elements>button{
    border: none;
    background-color: rgb(59, 108, 172);
    color: white;
    padding: 15px 60px 15px 60px;
    font-size: 40px;
}

/* Eclosion text & image */
.eclosion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45vh;
}

.eclosion-img{
    margin-top: 5%;
}

.eclosion-text{
    font-size: larger;
}

/* Eclosion Icons */

.eclosion-icons{
    background-color: #EAE3D6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    text-align: center;
}

/* Evolution */
.evolution-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.evo-parent{
    height: 35vh;
    padding: 20px;
    background-color: #EAE3D6;
}

.carte-visite{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (min-width:375px) and (max-width:425px) {
    /* madia navbar */
    .hidden{
        display: none;
    }

    /* media packages */
    .packages-img{
        display: none;
    }

    .packages-text{
        font-size: small;
    }

    /* Media Eclosion */

    /* Eclosion & Evolution & Envol buttons*/
    .center-elements>button{
        border: none;
        background-color: rgb(59, 108, 172);
        color: white;
        padding: 10px 30px 10px 30px;
        font-size: 35px;
    }

    /* Eclosion text & image */

    .eclosion{
        display: block;
    }

    .eclosion-img{
        margin-left: 15%;
    }
    .eclosion-text{
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

    /* Eclosion Icons */
    .eclosion-icons{
        margin-top: 30%;
        display: block;
        height: 90vh;
    }
    .eclosion-icons>div{
        padding-bottom: 15px;
    }

    /* Evolution Icons */
    .evo-parent{
        display: block;
        margin-top: 30%;
        height: 111vh;
    }
    .evolution-icons{
        display: block;
    }
    .evolution-icons>div{
        padding-bottom: 15px;
    }
}
